html {
  height: 100%;
  width: 100%;
}

.panthers {
  width: clamp(400px, 40vw, 700px);
  animation: bounce 1.25s infinite;
  animation-timing-function: ease-in-out;
  position: relative;
  padding: 50px 0;
  animation: bounce 1.25s infinite;
  animation-timing-function: ease-in-out;
}

body {
  font-family: "slipstream-d", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(235deg, #1321e4, #60e6f8, #0bb1c7);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(0px);
}

body.players {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.animated-card {
  height: 300px;
  width: 200px;
  background: #1998ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
}

.animated-card::before {
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #74ff51
  );
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* .zoom-in { 

}
*/

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
